$body-bg: rgb(36, 44, 53);
$body-color: rgb(161, 196, 184);
$input-bg:  $body-bg;
$input-color: $body-color;
$input-disabled-bg: $body-bg;
$custom-control-indicator-bg: $input-bg;
$input-group-addon-bg: $body-bg; 
$input-border-color: black;
$input-focus-bg: grey;

* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 0px;
    
}

@media (max-width: 575px) {
    .img {
        padding: 0 25% 0 25%;
    }
}

.first-caps {
    text-transform: capitalize;
}

.navbtngroup {
    margin-left: auto
}

.status {
    color: red;
}

.word-wrap {
    word-wrap: break-word;
}

.cursorPointer {
    cursor: pointer;
}

.cursorDefault {
    cursor: default;
}

.fixedBottom {
    position: fixed;
    bottom: 0
}

.smaller {
    transform: scale(0.5);
}

