$body-bg: rgb(39, 20, 42);
$body-color: rgb(30, 255, 219);
$input-bg:  $body-bg;
$input-color: $body-color;
$input-disabled-bg: $body-bg;
$custom-control-indicator-bg: $input-bg;
$input-group-addon-bg: $body-bg; 
$input-border-color: black;
$input-focus-bg: grey;
$dark: $body-bg;
$input-focus-color: black;


$input-btn-font-size-sm: 0.75rem;
$input-btn-line-height-sm: 0.5;

* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    
}

.stickyRow {
    position: sticky;
    top: 0px;
    z-index: 40;
}

@media (max-width: 575px) {
    .img {
        padding: 0 25% 0 25%;
    }
}

.first-caps {
    text-transform: capitalize;
}

.contentHeight {
    height: calc(95vh);
}

.navbtngroup {
    margin-left: auto
}

.status {
    color: red;
}

.word-wrap {
    word-wrap: break-word;
}

.cursorPointer {
    cursor: pointer;
}

.cursorDefault {
    cursor: default;
}

.fixedBottom {
    position: fixed;
    bottom: 0
}

.smaller {
    transform: scale(0.5);
}